<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			span {
				display: inline-block;
				width: 100px;
				height: 50px;
				border: 1px solid red;
				text-align: center;
				padding-top: 13px;
				box-sizing: border-box;
			}
			.div {
				display: none;
				margin-top: 5px;
			}
			.bj {
				background-color: #f7b078;
			}
			.yc {
				display: block;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<span
				:key="arr.index"
				:class="str==index? 'bj':''"
				v-for="(arr,index) in obj"
				@click="fun(index)"
				>{{arr.uname}}</span
			>
			<hr />
			<div
				:key="arr.index"
				v-for="(arr,index) in obj"
				class="div"
				:class="str==index? 'yc':''"
			>
				<img :src="arr.url" alt="" />
			</div>
		</div>
		<script src="./js/vue.js"></script>
		<script>
			new Vue({
				el: '#app',
				data: {
					str: 0,
					obj: [
						{
							uname: '苹果',
							url: './img/apple.png',
						},
						{
							uname: '橘子',
							url: './img/lemon.png',
						},
						{
							uname: '柠檬',
							url: './img/orange.png',
						},
					],
				},
				methods: {
					fun: function (i) {
						this.str = i
					},
				},
			})
		</script>
	</body>
</html>
